/* Important PRIORIZA linha do rodapé superior aparecer suave */
body {
    background: #fafafa !important;
}

.bg-white{
    background-color: white 
}
/* Important PRIORIZA o tamanho detalhado no caso LOGOTIPO */
.logo {
    height: 50px !important;
}

.border-3 {
    border-width:3px 
}
 